@tailwind base;
@tailwind components;
@tailwind utilities;
.wp-block-image img{
  /* aspect-ratio: 2/3; 
  height: 50vh;
  object-fit: cover;
  margin: 10px;
  width: 100%;
  border-radius: 10px; */
    display: none;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e2e8f0; /* slate-200 */
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
}